@media only screen and (max-width: 985px) {

    .box-container:nth-child(4),
    .box-container:nth-child(3) {
        margin-top: 50px;
    }

    .box .box-container:nth-child(2),
    .box .box-container:nth-child(4) {
        margin-right: 0;
    }

    .box {
        width: 450px;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1c30;
    color: white;
}



